tv-details {
    ion-header{
        ion-navbar{
            z-index: 100;
            position: absolute;
            top: 0;
            color: white;
            div.toolbar-background{
                background-color: rgba(0,0,0, 0.3);
                transition-timing-function: ease-out;
                transition: background-color 0.5s;
            }
            button.back-button.bar-button{
                color: white;
            }
            div.toolbar-content{
                ion-title > div{
                    color: white;
                }
            }
        }
    }
    .header-image {
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: opacity 2s;
        transition-timing-function: linear;
        opacity: 0.9;
    }
    .ng-lazyloaded {
        opacity: 1;
        height: 40vh;
    }
    .main-content{
        padding: 15px;
        padding-bottom: 56px!important;
        background-color: black;
        color: white;
    }
}
