
<div class="tile">
    <img 
      [ngStyle]="{'opacity': asset.watched && assetCategory != 'Watched' ? '0.2' : ' 0.8'}"
      [scrollObservable]="myContent.ionScroll" 
      [defaultImage]="'assets/images/Trakt-placeholder.png'" 
      [lazyLoad]="'https://image.tmdb.org/t/p/w'+ img_width+ '/' + asset.poster_path"
      (click)="getAssetDetails(asset)" [offset]="'100'">
      
    <div class="description">
        <div class="ratings">
          <div class="rate"(click)="rateAsset(asset, $event)">
            <i [ngClass]="asset.rated ? 'fa fa-star' : 'fa fa-star-o'" [class.rated-action]="asset.rated"></i><span >{{asset.vote_average}}</span>
          </div>
        </div>
        <div class="asset-actions">
          <div (click)="assetWatched(asset, $event)"><i class="fa fa-eye" [class.watched-action]="asset.watched "></i></div>
          <div (click)="assetBookmark(asset, $event)"><i [ngClass]="asset.bookmarked ? 'fa fa-bookmark' : 'fa fa-bookmark-o'"  [class.bookmarked-action]="asset.bookmarked"></i></div>
          <div (click)="watchAsset(asset)"><i class="fa fa-play"></i></div>
        </div>       
      </div>
</div> 