page-asset {
    #segments {
        justify-content: space-between;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        ion-segment-button {
            font-size: 0.7em;
            display: inline-block!important;
            min-width: 90px!important;
            width: auto!important;
        }
    }
    background-color: white;
}
