upcoming-movies {
    #segments {
        justify-content: space-between;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        ion-segment-button {
            font-size: 0.7em;
            display: inline-block!important;
            min-width: 90px!important;
            width: auto!important;
        }
    }
    img {
        contain: content;
        transition: opacity 2s;
        opacity: 0.7;
    }
    img.ng-lazyloaded {
        opacity: 1;
    }
    ion-row#description {
        z-index: 1;
        position: absolute;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background-color: rgba(black, 0.6);
        color: white;

        ion-col.rating {
            padding: 0 5px;
            min-height: 27px;
            display: flex;
             div {
                flex-direction: row;
                display: flex;
                align-content: center;
                ion-icon{
                    font-size: 1.8em;
                }
                span{
                    padding-left: 5px;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;

                }
            }
        }
        ion-col.movie-actions{
            padding: 0 5px;
            min-height: 27px;
            display: flex;
            justify-content: space-between;
                div {
                flex-direction: row;
                display: flex;
                align-content: center;
                ion-icon{
                    font-size: 1.8em;
                }
            }
        }
    }
}